{% extends 'front.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="front/css/custom.css" />
{% endblock %} {% block links %}
<li class="active">
  <a href="{{ path('app_home') }}">Home</a>
</li>
<li><a href="#">Doctors </a></li>
<li><a href="#">Reclamation </a></li>
<li><a href="#">Dons </a></li>
<li><a href="#">Blog </a></li>
<li><a href="#">Contact Us</a></li>

{% endblock %}
