{% extends 'back.html.twig' %}

{% block title %} RadioHub - Edit Donor {% endblock %} 

{% block body %}
<br><br><br><br>
    <h1 style="text-align: center;">Edit Donor</h1>

    {{ include('donateur/_form.html.twig', {'button_label': 'Update'}) }}

    

{% endblock %}
