{% extends 'front.html.twig' %}

{% block title %}
	RadioHub - Donation
{% endblock %}

{% block body %}
	<style></style>
	<h1 class="mt-2 text-center mt-0 mb-5">New Doner</h1>
	{{ include('donateur/_form.html copy.twig') }}

{% endblock %}
