{% extends 'front.html.twig' %} {% block title %}RadioHub | Sign up{% endblock
%} {% block body %}
<center>
  <h1 class="display-5">Sign Up as</h1>
</center>
<style>
  ul li {
    color: rgba(255, 0, 0, 0.8);
  }
  .list li {
    color: #222 !important;
  }
  .sign-up-cards {
    display: flex;
    justify-content: center;

    gap: 3rem;
    width: 80%;
    margin: 0 auto;
  }
  .sign-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s;
    width: 320px;
    height: 350px;
  }
  .sign-card:hover {
    transform: scale(1.05);
  }
  .sign-card h1 {
    color: black;
    font-size: 30px;
  }
  .sign-card p {
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
  }
  img:not(#logo) {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
</style>

<div class="sign-up-cards my-5">
  <a href="{{ path('app_register_patient') }}">
    <div class="sign-card">
      <img src="../../front/img/patient-card-img.png" alt="" />
      <h1>Patient</h1>
      <p>
        Create an account to access healthcare services, schedule appointments,
        and manage their medical information
      </p>
    </div>
  </a>
  <a href="{{ path('app_register_doctor') }}">
    <div class="sign-card">
      <img src="../../front/img/doctor-card-img.png" alt="" />
      <h1>Doctor</h1>
      <p>
        create a profile to provide medical services, consult with patients, and
        collaborate with colleagues.
      </p>
    </div>
  </a>
  <a href="{{ path('app_register_radiologist') }}">
    <div class="sign-card">
      <img src="../../front/img/radiologist-card-img.png" alt="" />
      <h1>Radiologist</h1>
      <p>
        create an account to review and interpret medical images, communicate
        with healthcare providers, and contribute to patient care.
      </p>
    </div>
  </a>
</div>
{% endblock %}
