{% extends 'front.html.twig' %}

{% block body %}
<h1 class="text-center mt-5"> 🎆 you 've booked an appointment successfully 🎆</h1>
<center>

    <a class="text-center my-5 " class="btn" href="{{ path('app_home')}}">Go Back To HomePage</a>
</center>
{% endblock %}
{% block footer %}
{% endblock %}