{% extends 'back.html.twig' %} {% block body %}
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h1 class="display-3 text-center fw-semibold mb-4">Dashboard</h1>
      <p class="mb-0 w-75 mx-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
        adipisci? Veritatis consequuntur sequi quasi doloremque debitis
        praesentium nisi cum sint eos tenetur? Sequi repudiandae aut similique
        harum magni atque quasi at vero tempore odio accusantium, quibusdam
        voluptates quia? Hic, earum inventore? Facilis vel maiores sint natus
        rem non officia architecto et soluta impedit assumenda hic deleniti a id
        quasi voluptatum eos unde quas, reprehenderit sed molestiae. Illum
        nesciunt accusantium dolores voluptatibus possimus, quasi, eius iure
        deserunt labore, fugit debitis non mollitia consequatur culpa adipisci
        similique iste facere! Dolor tenetur eligendi obcaecati voluptate
        dignissimos eius, at sed, iure temporibus quibusdam aliquid.
      </p>
    </div>
  </div>
</div>
{% endblock %}
