<!DOCTYPE html>

<title>New Radiologist</title>

{% block body %}
    <h1>Create new Radiologist</h1>

    {{ include('radiologist/_form.html.twig') }}

    <a href="{{ path('app_radiologist_index') }}">back to list</a>
{% endblock %}
