{%extends 'front.html.twig' %} 

{% block title %} RadioHub - Donation {% endblock %} 

{% block body %}


<h1>Thanks for attempting to Donate!</h1>
    <p>
      We appreciate your attempt!
      However, an error occured while trying to pass the payment.
      This error is in no shape or form related to our website so 
      we earge you to try again and verify your personal informations

      For any requirements concerning our website please contact us
      on: 

      <a href="contact@radiohub.com">contact@radiohub.com</a>.
    </p>
    
    

    
    {% endblock %}