{% extends 'front.html.twig' %}

{% block title %} RadioHub - Donate {% endblock %} 

{% block body %}

<style>
    form {
        gap: 1rem;
    }

    form .d-flex {
        gap: 1rem;
    }
</style>
<center>

    <h1 class="mt-5">Create new Don</h1>
</center>
    
    {{ include('gratification/_form.html.twig') }}

    
{% endblock %}
{% block javascripts %}
<script>
    var currentYear = new Date().getFullYear();
    document
      .getElementById("date")
      .setAttribute("min", currentYear + "-01-01");
  </script>
{% endblock %}

