{%extends 'front.html.twig' %} 

{% block title %} RadioHub - Donation {% endblock %} 

{% block body %}


<h1>Thanks for your Donation!</h1>
    <p>
      We appreciate your Donation!
      If you have any questions, please email
      <a href="contact@radiohub.com">contact@radiohub.com</a>.
    </p>
    

    

    
    {% endblock %}