<!DOCTYPE html>

<title>New CompteRendu</title>

{% block body %}
    <h1>Create new CompteRendu</h1>

    {{ include('compte_rendu/_form.html.twig') }}

    <a href="{{ path('app_compte_rendu_index') }}">back to list</a>
{% endblock %}
