<title>New Article</title>

{% block body %}

	{{ include('article/_form.html.twig', {'button_label': 'save'}) }}
</div></div></div><a class="btn btn-danger px-5 mx-4" href="{{ path('app_article_index') }}">back to list</a>{% endblock %}
