<!DOCTYPE html>

<title>Edit CompteRendu</title>

{% block body %}
    <h1>Edit CompteRendu</h1>

    {{ include('compte_rendu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_compte_rendu_index') }}">back to list</a>

    {{ include('compte_rendu/_delete_form.html.twig') }}
{% endblock %}
